<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <client>
    <endpoint address="http://localhost:8733/RoomBookingService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRoomBookingService"
        contract="RoomBookingServiceReference.IRoomBookingService"
        name="BasicHttpBinding_IRoomBookingService" />
  </client>
</configuration>